body{
    padding: 0px;
    background-color: #F5E9CD;
}

.block{
    position: relative;
    width: 100%;
    height: 100%;
}

.block_1{
    padding-left: 3%;
    padding-top: 40px;
    background-color: #EDDDBA;
    border: 2px solid #BD9A7A;
    display: inline-block;
    position: fixed;
    top: 140px;
    left: 14.5%;
    width: 15%;
    height: 300px;
}

.block_main{
    margin-top: 10px;
    padding: 5px;
    background-color: #f2dca7;
    border: 2px solid #BD9A7A;
    position: relative;
    top: 130px;
    width: 40%;
    left: 30%;
}

.music{
    padding: 5px;
    border: 2px solid #BD9A7A;
    background-color: #EDDDBA;
    position: fixed;
    left: 14.5%;
    width: 15%;
    top: 450px;
    height: 100px;
}

.navbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
}