body{
    padding: 0px;
    background-color: #F5E9CD;
}

input {outline:none;}

header {
  background: #EDDDBA;
  border: 2px solid #BD9A7A;
  display: inline-flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: 10;
  display: flex;
  align-items: center;
}

header .logo img {
  border-radius: 50px;
  position: fixed;
  max-width: 80%;
  max-height: 96px;
  top: 2px;
  left: 18%;
}

.search_top{
    position: fixed;
    left: 31%;

}

.music {
    border: 0px solid #BD9A7A;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: fixed;
    right: 20%;
    top: 10px;
    display: inline-flex;
    align-items: center;
}

.music .search_and_actions_playList {

}

.music .search {
  display: inline-flex;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 7px;
}

.music .search .input_music {
  outline: none;
  border: 0px;
}

.music .search .input_music:focus {
  -webkit-box-shadow: none;
}

.music .search .btn_search {
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  padding: 0;
  width: 50px;
  height: 40px;
}

.music .search .btn_search:focus {
  -webkit-box-shadow: none;
}

.music .actions_with_playlist {
  display: flex;
  justify-content: space-around;
}

.music .actions_with_playlist .btn_add {
  background-image: url(../img/add_playList_2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48px 40px;
  padding: 0;
  width: 50px;
  height: 40px;
}

.music .actions_with_playlist .btn_direct_order {
  background-image: url(../img/direct_order_2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 35px 35px;
  padding: 0;
  width: 50px;
  height: 40px;
}

.music .actions_with_playlist .btn_random_order {
  background-image: url(../img/random_order.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 56px 40px;
  padding: 0;
  width: 50px;
  height: 40px;
}

.music .actions_with_playlist .btn_add:focus,
.btn_direct_order:focus,
.btn_random_order:focus {
  -webkit-box-shadow: none;
}

.music .actions_with_tracks {
  display: flex;
  align-items: center;
}

.music .actions_with_tracks .next_track {
  background-image: url(../img/next_track.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  padding: 0;
  width: 40px;
  height: 32px;
}

.music .actions_with_tracks .back_track {
  background-image: url(../img/back_track.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  padding: 0;
  width: 40px;
  height: 32px;
}

.music .actions_with_tracks .back_track:focus,
.next_track:focus {
  -webkit-box-shadow: none;
}

.music audio {
  max-width: 16em;
  max-height: 50px;
}

.music audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
  background-color: #cd9858;
  color: #c2cb2f;
}

.block{
    position: relative;
    width: 100%;
    height: 100%;
}

.block_1{
    padding: 1.6%;
    background-color: #EDDDBA;
    border: 2px solid #BD9A7A;
    border-radius: 10px;
    position: fixed;
    top: 110px;
    left: 17.5%;
    width: 12%;
    height: 220px;
}

.playList {
  padding: 0.8%;
  background-color: #EDDDBA;
  border: 2px solid #BD9A7A;
  border-radius: 10px;
  position: fixed;
  top: 110px;
  left: 70.5%;
  overflow-y: auto;
  width: 17%;
  height: 85vh;
}

.playList::-webkit-scrollbar {
  width: 0;
}

.playList .tracks {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.playList .form_track{
  width: 100%;
  height: 10%;
}

.playList .form_track .name_track {
  display: none;
}

.playList .form_track button {
  width: 100%;
}

.playList .form_track .btn_track_div {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.playList .form_track .btn_track_div img {
  max-width: 50px;
  max-height: 50px;
}

.playList .form_track .btn_track_div .track_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_main{
    margin-top: 10px;
    padding: 10px;
    background-color: #f2dca7;
    border: 2px solid #BD9A7A;
    border-radius: 10px;
    position: relative;
    top: 100px;
    width: 40%;
    left: 30%;

}
