.block_main{

}

.photo_and_info {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo{
    margin: 10px;
    border: 0px solid blue;
    position: relative;
    width: 195px;
}

.photo img{
    max-width: 100%;
    min-height: 100%;
}

.info{
    margin-top: 10px;
    border: 0px solid blue;
    position: relative;
    width: 100%;
}

.link1{
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.popup{
    padding: 20px;
    background: #EDDDBA;
    border: 2px solid #BD9A7A;
    position: fixed;
    width: 50%;
    top: 25%;
    left: 25%;
    opacity: 0;
    visibility: hidden;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup__body{

}

.popup__content{

}

.popup__title{

}

.message {
  text-align: center;
}
