.block_main{
    margin-top: 10px;
    padding: 5px;
    background-color: #f2dca7;
    border: 2px solid #BD9A7A;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 30%;
    width: 40%;
    height: 340px;
}

.photo{
    margin: 10px;
    border: 2px solid blue;
    position: relative;
    display: inline-block;
    width: 195px;
    height: 260px;
}

.info{
    margin: 10px;
    border: 2px solid blue;
    position: relative;
    display: inline-block;
    width: 68%;
    height: 260px;
}

.link1{
    position: relative;
    right: 25px;
}

.popup{
    padding: 20px;
    background: #EDDDBA;
    border: 2px solid #BD9A7A;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    opacity: 0;
    visibility: hidden;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}

.popup__body{

}

.popup__content{

}

.popup__title{

}

