<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ubuntu:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="../data/img/icon.png">
    {% block links%}{%endblock%}


    <title>{{title}}</title>
</head>
<body class="body">
    <header>
        <div class="logo">
            <img src="/static/img/logo.png" alt="logo">
        </div>
        <div class="pages">
            <h3 align="center"><i>BREAD-network</i></h3>
        </div>
    </header>
    {% block content %}{%endblock%}
</body>
