<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Ubuntu:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/music_block.css">
    <link rel="icon" href="/static/img/icon2.png">

    {% block links %}{% endblock %}

    <title>пример</title>
</head>
<body>
<!-- Begin page content -->
<header>
    <div class="logo">
      <a href="/logout">
        <img src="/static/img/logo2.png" alt="logo">
      </a>
    </div>
    <div class="search_top">
      <form class="form-inline my-2 my-lg-0" action="" method="post">
        <input class="form-control mr-sm-2" type="search" name="search_people_query" placeholder="Поиск людей">
        <button class="btn btn-light search_people" name="search_people_btn">Поиск</button>
      </form>
    </div>
    {% if found_people %}
    <div class="search_people_output">
      <h4>search_people_output</h4>
      <a href="/" class="btn btn-light">Назад</a>
      <div class="people">
        {% for people in found_people %}
        <div class="men">
          <a href="/profile/{{ people.id }}">
            <div class="people_info_and_img">
              <img src="{{ people.way_profile_img }}" alt="profile_img">
              <div class="people_info">
                <h5>{{ people.surname }} {{ people.name }}</h5>
                <h6>{{ people.email }}</h6>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if form_music %}
    <div class="music">
      <div class="search_and_actions_playList">
          <form action="" method="post">
            {{ form_music.hidden_tag() }}
            <div class="search">
              {{ form_music.input_music(class="form-control input_music", type="text") }}
              {{ form_music.btn_search(type="submit", class="btn btn_search") }}
            </div>
          </form>
          <form action="" method="post">
            {{ form_actions_playList.hidden_tag() }}
            <div class="actions_with_playlist">
              {{ form_actions_playList.add_playList(type="submit", class="btn btn_add") }}
              {{ form_actions_playList.direct_order_playList(type="submit", class="btn btn_direct_order") }}
              {{ form_actions_playList.random_order_playList(type="submit", class="btn btn_random_order") }}
            </div>
          </form>
      </div>
      <form action="" method="post">
        {{ form_actions_tracks.hidden_tag() }}
        <div class="actions_with_tracks">
          {{ form_actions_tracks.back_track(type="submit", class="btn back_track") }}
          <audio controls="controls" {% if autoplay %}autoplay="autoplay"{% endif %} src="{{ src_music }}"></audio>
          {{ form_actions_tracks.next_track(type="submit", class="btn next_track") }}
        </div>
      </form>
    </div>
    {% endif %}
</header>

<div class="block">
  <div class="block_1">
    <a href="/profile/{{ current_user.id }}" class="btn btn-light btn-sm"><h5>Мой профиль</h5></a><br>
    <p></p>
    <a href="/news" class="btn btn-light btn-sm"><h5>Новости</h5></a><br>
    <p></p>
    <a href="/chats" class="btn btn-light btn-sm"><h5>Чаты</h5></a><br>
    <p></p>
    <a href="/reviews" class="btn btn-dark btn-sm"><h5>Оценить</h5></a><br>
  </div>
  {% if form_music %}
  <div class="music_block">
      <div class="search_and_actions_playList_block">
        <form action="" method="post">
          {{ form_music.hidden_tag() }}
          <div class="search_block">
            {{ form_music.input_music(class="form-control input_music", type="text") }}
            {{ form_music.btn_search(type="submit", class="btn btn_search") }}
          </div>
        </form>
        <form action="" method="post">
          {{ form_actions_playList.hidden_tag() }}
          <div class="actions_with_playlist_block">
            {{ form_actions_playList.add_playList(type="submit", class="btn btn_add") }}
            {{ form_actions_playList.direct_order_playList(type="submit", class="btn btn_direct_order") }}
            {{ form_actions_playList.random_order_playList(type="submit", class="btn btn_random_order") }}
          </div>
        </form>
      </div>
      <form action="" method="post">
        {{ form_actions_tracks.hidden_tag() }}
        <div class="actions_with_tracks_block">
          {{ form_actions_tracks.back_track(type="submit", class="btn back_track") }}
          {{ form_actions_tracks.next_track(type="submit", class="btn next_track") }}
        </div>
        <audio controls="controls" {% if autoplay %}autoplay="autoplay"{% endif %} src="{{ src_music }}"></audio>
      </form>
  </div>
  {% endif %}

  <div class="playList">
    <h4>PlayList</h4>
    <div class="tracks">
      {% for track in playList %}
      <form class="" action="" method="post">
        <div class="form_track">
          <input type="text" class="name_track" name="name_track" value="{{ track[0] }}<;>{{ track[1] }}">
          <button type="submit" name="btn_track" id="btn_track" class="btn">
            <div class="btn_track_div">
              <img src="{{ track[2] }}" alt="img_track">
              <div class="track_info">
                <h5>{{ track[0] }}</h5>
                <h6>{{ track[1] }}</h6>
              </div>
            </div>
          </button>
        </div>
      </form>
      {% endfor %}
    </div>
  </div>

  {% block content %}{% endblock %}

</div>
<div class="popup">

</div>
</body>
</html>
