{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/chat.css">
{% endblock %}

{% block content %}

    <div class="block_main">
        <div class="hat"><h4 align="center">name_of_the_chat</h4></div>
        <div class="messages_area"></div>
        <div class="sender">
            <div class="row">
                <div class="col-9"><textarea class="form-control" placeholder="Написать сообщение" id="floatingTextarea2" style="max-height: 55px"></textarea></div>
                <div class="col-1"><button type="submit" class="btn btn-primary mb-2">Отправить</button></div>
            </div>
        </div>
    </div>

{% endblock %}