{% extends "base.html" %}
{%block links%}
<script language="JavaScript">
    function create_link (var id) {

    link = "/chat/" + String(id)
    return link
    }
</script>
{% endblock %}
{% block content %}
    {% set chats = [{"name": "1", "members": "haglhbglagba;buig augb;ergi aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалфоыиалфлыоирлф оымаорфым афрма рфымарjhb;g"}, {"name": "2", "members": "haglhbglagba;buig a aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалф aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалфugb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}] %}
    {% for item in chats %}
    <div class="block_main">
        <a href="{{ url_for('chat1', chat_id=item['name']) }}"><h4>{{item["name"]}}</h4></a>
        {% if item["members"]|length >= 40 %}
        {{item["members"][:40] + '...'}}
        {%else%}
        {{item["members"]}}
        {%endif%}
    </div>

    {% endfor %}
{% endblock %}