{% extends "base.html" %}

{% block content %}
    {% set chats = [{"name": "1", "members": "haglhbglagba;buig augb;ergi aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалфоыиалфлыоирлф оымаорфым афрма рфымарjhb;g"}, {"name": "2", "members": "haglhbglagba;buig a aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалф aаырыкурыурвырыупвыпуыпыпыуапмроамфмалфыиалфugb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "1", "members": "haglhbglagba;buig augb;ergi ajhb;g"}, {"name": "2", "members": "haglhbglagba;buig augb;ergi ajhb;g"}] %}
    {% for item in chats %}
    <div class="block_main">
        <h4>{{item["name"]}}</h4>
        {% if item["members"]|length >= 40 %}
        {{item["members"][:40] + '...'}}
        {%else%}
        {{item["members"]}}
        {%endif%}
    </div>

    {% endfor %}
{% endblock %}