{% extends "base_short.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/reg_and_log.css">
{% endblock %}

{% block content %}
    <form class="form1" action="" method="post">
        <h1>{{ title }}</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }} <a href="/register" class="btn btn-light">Зарегистрироваться</a></p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
