{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/css/news.css">
{%endblock%}

{% block content %}
    <div class="block_main">
      <form class="" action="" method="post">
        <div class="input_and_btn">
          <textarea class="form-control" placeholder="Написать сообщение" id="floatingTextarea2" name="input_message"></textarea>
          <button type="submit" class="btn btn-primary" name="push_message">Отправить</button>
        </div>
      </form>
    </div>
    {% for item in news %}
        <div class="block_main">
            <h4>{{item[0]}} {{item[1]}}:</h4>
            <p><font size="4">{{item[2]}}</font></p>
            <br><font color="#696969" size="3">{{item[3]}}</font>
        </div>

    {% endfor %}
{% endblock %}
