{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="/static/css/reviews.css">


{% endblock %}

{% block content %}
<div class="block_main info_about_developers">
  <h2>Команда разработчиков лучшей хлебной соц. сети</h2>
  <div class="info_and_btns">
    <div class="info_developer text-center">
      <h2>Разработчик №1</h2>
      <h3>|</h3>
      <h3>|</h3>
      <h3>|</h3>
      <h3>|</h3>
      <h3>\|/</h3>
      <div class="wrap">
        <button class="button">Написать отзыв</button>
      </div>
    </div>
    <div class="info_developer text-center">
      <h2>Разработчик №2</h2>
      <h3>|</h3>
      <h3>|</h3>
      <h3>|</h3>
      <h3>|</h3>
      <h3>\|/</h3>
      <div class="wrap">
        <button class="button">Написать отзыв</button>
      </div>
    </div>
  </div>
  <div class="general_review">
    <a href="#" class="animated-button1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Написать отзыв всей команде
    </a>
  </div>
</div>


{% endblock %}
